.form{
    width: 540px;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.form h3{
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.form-group{
    margin-bottom: 20px;
}

.form-group:last-of-type{
    margin-bottom: 0;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.form .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.form .redirect{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}